header {
    background: linear-gradient(rgb(22, 116, 26), #032c01);
    color: white;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
}
body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #595a59;
}
.btnlog{
    padding: 8px;
    border-radius: 20px;
    background-color: rgb(7, 199, 7);
    border-color: transparent;
    box-shadow: 0 8px 5px rgba(10, 10, 10, 0.5);
    color: #fff;
}
.btnlog:hover{
    background-color: rgb(110, 248, 46);
}
.line1{
    background-color: #459b5b;
    position: fixed;
    left: 0px;
    width: 60px;
    height: 300px;
    border-radius: 20px;
    bottom: 5%;
}

    .btnn{
        height: 50px;
        margin: 5px;
        width: 50px;
        border-radius: 55px;
        box-shadow: 0 10px 5px rgba(0, 0, 0, 0.3);
        border-color: transparent;
    }
    .btnn:hover{
        height: 60px;
        width: 60px;
    }
    a{
        float: left;
        text-decoration: none;
        color: #fff;
        font-family:serif;
        font-size: small;
        margin: 25px;
    }
    .line2{
        float: left;
        margin-left: 10%;
        width: 80%;
        font-family: serif;
        background-color: #595a59;
    }
    h1{
        color: rgb(104, 163, 16);
    }
    h2{
        color: rgb(2, 54, 13);
    }
    .line3{
        background-color: rgb(2, 158, 2);
        border-radius: 20px;
        width: 100%;
        box-shadow: 0 10px 5px rgba(0, 0, 0, 0.3);
        color: #199612
    }
    .txt{
        margin-top: 30px;
        margin-left: 20%;
        border-radius: 20px;
        padding: 10px;
        height: 100px;
        width: 60%;
        box-shadow: 0 10px 5px rgba(0, 0, 0, 0.3);
    }
    .add{
        margin-left: 20%;
        border-radius: 20px;
        padding: 10px;
        box-shadow: 0 10px 5px rgba(0, 0, 0, 0.3);
    }
    .btnn1{
        width: 100px;
        border-radius: 20px;
        margin: 20px;
        border-color: transparent;
    }
    .btnn1:hover{
        width: 110px;
    }
    .line4{
        display: grid;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }
    .sections{
        display: grid;
        justify-content: center;
        align-items: center;
        color: #fff;
    }
    .section{
        margin-top: 30px;
        padding: 10px;
        background-color: #89cf85;
        border-radius: 20px;
        color: #fff;
        box-shadow: 0 10px 5px rgba(0, 0, 0, 0.3);
    }
    .sect{
        margin: 5px;
        border-color: transparent;
        border-radius: 20px;
        padding: 10px;
        width: 250px;
    }
    .btnn2{
        width: 84%;
        border-radius: 20px;
        margin: 8%;
        border-color: transparent;
    }
    .btnn2:hover{
        width: 86%;
        border-radius: 10px;
        color: #f72408;
    }
    ul{
        color: rgb(3, 48, 18);
    }
    .btnn3{
        margin: 5px;
        border-radius: 20px;
        border-color: transparent;
    }
    .btnn3:hover{
        color: #f72408;
    }
    .level{
        background-color: black;
        padding: 20px;
        border-radius: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .line10{
        margin-top: 10px;
        padding-top: 20px;
        width: 370px;
        background-color: rgb(184, 236, 197);
        border-radius: 10px;
        padding-bottom: 20px;
        margin-bottom: 50px;
        box-shadow: 0 8px 5px rgba(8, 8, 8, 0.3);
      }